body {
  background-color: #90D4E6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.login {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
} 

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.submit {
  margin-top: 10px;
}

.landing {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;

}
.leftSide {
  display:flex;
  justify-content: center;
  background-color:#F8F8F8;
  flex-grow: 1;
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  border: 3px solid white;
}
.rightSide {
  flex-grow: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid white;
  background-color: #90D4E6;
}

.accInfo, .displayData, .transactions, .accountList {
  border-radius: 4px;
  padding: 10px;
  background-color:#FFFFFF;
  text-align: center;
  width: 85%;
  height: 30%;
  margin-bottom: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.accInfo h3 {
 margin:0;
}
.accInfo p {
  margin:7px;
 }

.displayData {
  height: 20%;
}

.transactions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accountList {
  height: 85%;
  margin-top: 30px;
}

.linkButton {
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}



/////charts///
